.navbar {
  overflow: hidden;
  
  position: center;
  bottom: 0;
  width: 100%;
  
  
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: red;
  
}

.navbar a:hover {
  background: #f1f1f1;
  color: blue;
  
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;

}







.pozadina{
	display: flex;
  	justify-content: center;
 	align-items: center;	
	margin-top: 90px;
	

	
}



h1{
	text-align: center;
	margin-top: -660px;
	font-size: 44px;

}

.tekst{
	margin-left: 100px;
	margin-top:650px;
 	width: 90%;	
	text-align: justify;
	align-items: center;
	

}

p{
	font-size: 24px

}