.banner{
	background-image: url("baner.jpg");
	background-size:cover;
	height: 480px;
	text-align: center;	
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;	
	
}

h1{
	color: white;	
	font-family: "Garamond", Garamond, Serif;
	font-size: 40px;
}

body{
	margin: 0;	

}


.navbar {
  overflow: hidden;
  
  position: center;
  bottom: 0;
  width: 100%;
  
  
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: red;
  
}

.navbar a:hover {
  background: #f1f1f1;
  color: blue;
  
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;

}


.kanta{
	display: flex;	
	align-items: center;
	margin-top: 20px;	
	
	
	max-width: 60%;
}

img{
	max-width: 100%;

}

.slika {
	flex-basis: 30%;

}

.text-slika{
	max-width: 30%;
	margin-left: 30px;
	font-size: 20px;
	 text-align: justify;
}



.kanta2{
	display: flex;	
	align-items: center;
	margin-top: 20px;	
	
	
	max-width: 60%;
}

.slika2 {
	flex-basis: 30%;

}

.text-slika2{
	max-width: 30%;
	margin-left: 30px;
	font-size: 20px;
	 text-align: justify;
}





.editor-stage .snow {
  height:100px;
  background: #fff;
}
.snow{
  position:fixed;
  pointer-events:none;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height:100vh;
  background: none;
  background-image: url('https://s3-eu-west-1.amazonaws.com/static-ressources/s1.png'), url('https://s3-eu-west-1.amazonaws.com/static-ressources/s2.png'), url('https://s3-eu-west-1.amazonaws.com/static-ressources/s3.png');
  z-index:100;
  -webkit-animation: snow 10s linear infinite;
  -moz-animation: snow 10s linear infinite;
  -ms-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}